# Debugging
.vscode

# Lazygit
lazygit/state.yml

# Oh-My-Posh
oh-my-posh/themes/*
!oh-my-posh/themes/mytheme.omp.json

# PowerShell
PowerShell/*
!PowerShell/Microsoft.PowerShell_profile.ps1

# GnuPG
.gnupg/*
!.gnupg/gpg-agent.conf
